font-size = 14px

.div
    width:200px;
    height:300px;
    background-color:red;
    font-size:font-size;
    p
       width:200px;
       span
          color:blue;           
    a
       text-decoration:none;
       color:white;